/* main */
#activ {
  width: 100%;
  height: 330px;
  margin-top: 28px; }

figure {
  width: 280px;
  height: 330px;
  margin: 0 17px;
  float: left;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; }
  figure a {
    display: block;
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: absolute;
    z-index: 1; }
  figure img {
    width: 100%;
    height: 280px;
    transition: all 0.3s; }
  figure img:hover {
    transform: scale(1.15, 1.15); }
  figure p {
    border: 1px solid #EFEFEF;
    border-top: 0;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    z-index: 2; }

#hotsale {
  width: 100%;
  height: 90px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 900; }

#tabplay {
  width: 990px;
  height: 710px;
  border: 1px solid #EFEFEF;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative; }
  #tabplay ul {
    display: flex;
    color: #CECECE; }
    #tabplay ul li {
      flex: 1;
      text-align: center;
      height: 50px;
      box-sizing: border-box;
      border-bottom: 1px solid #000; }
      #tabplay ul li a {
        display: block;
        width: 100%;
        margin-top: 16px;
        height: 18px;
        font-size: 16px;
        line-height: 14px;
        border-right: 1px solid #212921; }
    #tabplay ul li:nth-child(4) a {
      border: 0; }
    #tabplay ul li:hover {
      border: 2px solid #000;
      border-top: 4px solid #000;
      border-bottom: 0;
      font-weight: 900; }

#tabcontent {
  width: 100%;
  height: 660px;
  position: absolute;
  display: none;
  top: 50px; }
  #tabcontent a:hover dl {
    background-color: #E7E7E7; }
  #tabcontent dl {
    display: block;
    width: 246.5px;
    height: 330px;
    float: left;
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;
    position: relative;
    transition: all 0.5s; }
    #tabcontent dl img {
      position: absolute;
      width: 200px;
      height: 200px;
      left: 23px;
      top: 10px; }
    #tabcontent dl dd {
      width: 100%;
      position: absolute;
      bottom: 20px; }
      #tabcontent dl dd h3, #tabcontent dl dd p, #tabcontent dl dd b {
        line-height: 28px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 15px; }
      #tabcontent dl dd h3 {
        font-weight: 900; }

#rosetitle {
  width: 100%;
  height: 60px;
  line-height: 60px;
  float: left; }
  #rosetitle a:nth-child(1) {
    display: block;
    float: left;
    margin-left: 10px;
    font-size: 20px; }
  #rosetitle a:nth-child(2) {
    display: block;
    float: right;
    margin-right: 10px; }

#freshrose img {
  float: left;
  margin-bottom: 30px;
  margin-left: 30px;
  transition: all 1s; }

#freshrose img:hover {
  opacity: 0.6; }

#freshrose .freshrose1 {
  margin-left: 10px; }

#advertise {
  width: 100%;
  float: left;
  border-top: 3px double #E7E7E7; }
  #advertise img {
    float: left;
    margin: 20px 12px;
    transition: all 0.8s; }
  #advertise img:hover {
    opacity: .6; }

#tips {
  font-family: iconfont;
  width: 200px;
  height: 50px;
  float: left;
  margin-left: 90px;
  margin-top: 10px; }
  #tips p {
    float: left;
    margin-left: 12px; }
  #tips p:nth-child(1) {
    font-size: 48px; }
  #tips p:nth-child(2) {
    font-size: 26px; }
  #tips p:nth-child(3) {
    line-height: 26px; }

/*# sourceMappingURL=index.css.map */
