@charset "utf-8";
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:16px; font-family:"微软雅黑";}
input,a{outline:none;}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}


.floatl{ float: left;}
.floatr{ float: right;}




#headertop,#headerbottom,nav,#banner,#main,footer,#address{ width: 1264px; margin: 0 auto;}
/* <!--                  头部               --> */
header{	height: 115px;}
#headertop-wrap{background-color:#E7E7E7; }
#headertop{ height: 35px; background: #E7E7E7;}
#headertop img{ height: 35px; margin-left: 5px;}
.logoimg{ width: 188px;  float: left;}
.goodslistimg{ width: 76px; float: left;}
.goodslistimg:hover{background-color: black;}
#header-right{  width: 140px; height: 100%; font-size: 14px; line-height: 35px; margin-right: 10px;  float: right;}
#header-right b{font-family: iconfont;}
#header-right a:hover{ color: red;}
.iconfont:hover{ font-size: 22px;}

#headerbottom{ height: 80px; background: white;}
#headerbottom img{ height: 55px; width: 300px; margin: 10px auto;}



/* 		<!--               导航                 --> */
#nav-wrap{ background:#424242; }
nav{ height: 40px;	background: #424242;}
nav ul {
  float: left;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #424242; }
  nav ul li {
    margin-left: 8px;
    float: left;
    flex: 1; }
    nav ul li a {
      float: left;
      display: block;
      width: 70px;
      font-size: 14px;
      color: white;
      padding: 0 20px;
      line-height: 40px;
      text-align: center; }
    nav ul li a:hover {
      background-color: white;
      color: #424242; }
  nav ul li:nth-child(1) a {
    background-color: #C61829; }
  nav ul li:nth-child(1) a:hover {
    background-color: white; }

/* 		<!--               banner部分         --> */
#banner{ height: 450px; background: yellow;}
.swiper-container {	width: 100%;height: 450px;	}
.swiper-slide,.swiper-slide img{width: 100%;height: 100%;}




/* 		<!--                  热销商品           --> */
#main{min-height: 300px; overflow: hidden;}



/* 		<!--                  about us             --> */
footer{ height: 285px; position: relative; }
#footer-box{  border-top: 1px solid #DEDEDE; height: 213px; padding-top: 40px; position: absolute; top: 50px; box-sizing: border-box;left: 20px;margin-top: 30px;}
#tips { font-family: iconfont; width: 200px;  height: 50px;  float: left;  margin-left: 90px;  margin-top: 10px; }
#tips p { float: left; margin-left: 12px; }
#tips p:nth-child(1) {    font-size: 48px; }
#tips p:nth-child(2) {    font-size: 26px; }
#tips p:nth-child(3) {    line-height: 26px; }
#footer-logo{ width: 162px; height: 100px; margin-right: 30px; }
#footer-logo p{ margin-left: 5px; width: 80px; margin-top: 30px; float: left;}
#footer-logo .img2,#footer-logo .img3{ float: left; margin-top: 30px; margin-left: 5px;}
#vxpic{ position: absolute; left: 350px; top: -150px;display: none; }

#footer-ul1{ display: block; float: left; width: 185px; height: 165px; border-right: 1px solid #6B6B6B; }
#footer-ul1 li{ text-align: center;}
#footer-ul1 p{ margin-bottom: 20px;}
#footer-ul1 a{ line-height: 26px; font-size: 15px;}

#vxblog{ display: block; width: 263px; margin-left: 20px; position: relative; left: 20px;}
/* 		<!--                备案、地址             --> */

#address-wrap{ background: #424242;}

#address{ height: 45px; background: #424242; color: white; text-align: center; line-height: 45px; font-size: 14px;}
